/* -------------------------------------------------- 
 *    Table of Contents
 *    -----------------------------------------------------
 *    :: Shared Styles
 *    */


    /* -----------------------------------------
     *    Shared Styles
     *    ----------------------------------------- */
form ul {
    list-style-type: none;
}


    /* -----------------------------------------
     *    Content edit page
     *    ----------------------------------------- */
.hallotoolbar .ui-button .ui-button-text {
    line-height: 0.7;
}

.content-edit {
    min-height: 300px;
    margin: 30px auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #959595;
    background-color: #FFFFFF;

    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
}

form.custom div.custom.dropdown {
    display: inline-block;
}

div.row {
    margin-bottom: 5px;
}

form table.full {
    width: 100%;
}

div.float-right {
    float: right;
}

/*span, div {*/
    /*margin: 5px 0 5px;*/
/*}*/
