.content-edit {
    width: 80%;
    border: medium dashed black;
    margin: 30px 5px 30px 5px;
    padding: 5px;
    min-height: 300px;
}

form ul {
    list-style-type: none;
}

.hallotoolbar .ui-button .ui-button-text {
    line-height: 0.7;
}
