[submodule "babel"]
	path = babel
	url = https://github.com/phaikawl-submodule-repos/babel.git
    ignore = dirty
[submodule "pytz"]
    path = pytz
	url = https://github.com/phaikawl-submodule-repos/pytz.git
    ignore = dirty
[submodule "unidecode"]
	path = unidecode
	url = https://github.com/phaikawl-submodule-repos/unidecode.git
    ignore = dirty
[submodule "js/hallojs"]
	path = js/hallojs
    ignore = dirty
	url = https://github.com/phaikawl/hallo.git
