[submodule "babel"]
	path = babel
	url = https://github.com/phaikawl-submodule-repos/babel.git
    ignore = dirty
[submodule "pytz"]
    path = pytz
	url = https://github.com/phaikawl-submodule-repos/pytz.git
    ignore = dirty
