{% extends "base.html" %}
{% import "utils.html" as utils %}
{% block body %}
    <form method="post" action="">
        {% for link in links %}
            <a href="{{ link[1] }}">{{ link[0] }}</a>
        {% endfor %}
        <table>
            <tbody>
                {% for model in models %}
                    <tr>
                        <td><input type="checkbox" name="checklist" id="checklist"
                                    value="{{model.key.id()}}"></td>
                        {% for prop in props %}
                            <td>{{ table_model_attr(model, prop) }}</td>
                        {% endfor %}
                        {% for tool in toolbox %}
                            <td><a href="{{ tool[1].get_uri(model) }}">{{ tool[0] }}</a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% if models|count == 0 %}
                    <tr><td>{{ _("No item added yet.") }}</td></tr>
                {% endif %}
            </tbody>
        </table>
        <select>
            {% for operation in operations %}
                <option name="{{ operation[0] }}">{{ operation[1] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value={{_("Action!") }}>
        <p>{{ utils.next_prev_navi(pagin) }}</p>
    </form>
{% endblock %}
