{% extends "base.html" %}
{% import "form.html" as form %}
{% block body %}
    <h2>{{ _("Add user") }}</h2>
    <form method="post" action="">
        <ul>
            <li>{{ form.input_field(model, "username") }}</li>
            <li>{{ form.input_field(model, "name") }}</li>
            <li>{{ form.input_field(model, "email") }}</li>
            <li>{{ form.input_field(model, "password", "password") }}</li>
            <li>{{ form.input_field(model, "_password_confirm", "password") }}</li>
        </ul>
        {{ form.submit() }}
    </form>
{% endblock %}
