{% extends "base.html" %}
{% block body %}
    <h2>{{ gettext("User Management") }}</h2>
    <form method="post" action="">
        <table>
        {% for user in users %}
            <tr>
                <td><input type="checkbox" name="user_check" value="{{ user.username }}"></td>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created }}</td>
                <td>{{ user.verified }}</td>
                <td><a href="{{ edit_link(user) }}">{{ _("Edit") }}</a></td>
            </tr>
        {% endfor %}
        <a href="{{ user_add_url }}">{{ gettext("Add") }}</a>
        <input type="submit" value="{{ gettext("Delete selected") }}">
    </form>
{% endblock %}
