{# display validation errors for a specified field #}
{% macro v_e(model, field) %}
    <div class="form-error-message">
    {% set errors = model.get_errors() %}
    {% if field in errors %}
        {% for msg in errors[field] %}
                <small class="error">{{ msg }}</small>
        {% endfor %}
    {% endif %}
    </div>
{% endmacro %}

{% macro error_class(model, field) %}
    {%- if model.get_errors().get(field) %}error{% endif -%}
{% endmacro %}

{% macro field_label(model, field, show_optional=True) %}
    <label class="form-field-label {{ error_class(model, field) }}" for="{{ field }}">
        {{ model.get_verbose_name(field) }}
        {%- if show_optional and not model.is_required(field) %} {{ _("(Optional)") }} {% endif -%}
    </label>
{% endmacro %}

{% macro input(model, field, type="text") %}
    <input type="{{ type }}" name="{{ field }}" id="{{ field }}"
        class="form-input-field {{ error_class(model, field) }}"
    value= "{% if (type!="password") -%}
                    {{ form_getattr(model, field) }}
            {%- else %}{% endif -%}"
            {% if caller is defined %} {{ caller() }} {% endif %}
    />
{% endmacro %}

{% macro input_field(model, field, type="text") %}
    {{ field_label(model, field) }}
    {% call input(model, field, type) %}
        {% if caller is defined %} {{ caller() }} {% endif %}
    {% endcall %}
    {{ v_e(model, field) }}
{% endmacro %}

{% macro textarea(model, field) %}
    <textarea name="{{ field }}" id="{{ field }}" class="{{ error_class(model, field) }}">
        {{- form_getattr(model, field) -}}
    </textarea>
{% endmacro %}

{% macro textarea_field(model, field) %}
    {{ field_label(model, field) }}
    {{ textarea(model, field) }}
    {{ v_e(model, field) }}
{% endmacro %}

{% macro content_edit_field(model, field) %}
    <div class="content-edit-wrapper">
        <div class="content-edit" id="{{ field }}">
            {{ form_getattr(model, field) }}
        </div>
        <input type="hidden" id="hidden" name="{{ field }}" value=""/>
    </div>
    {{ v_e(model, field) }}
    <noscript>You must have javascript enabled to use this edit field.</noscript>
{% endmacro %}

{% macro submit(value="Submit", classes="") %}
    {% set value= _(value) %}
    <input type="submit" value="{{ value }}" class="button {{ classes }}"/>
{% endmacro %}

{% macro boolean_combo(model, field) %}
    <select name="{{ field }}" id="{{ field }}">
        <option value="yes" {% if form_getattr(model, field) %} selected="selected" {% endif %}>
            {{ _("Yes") }}
        </option>
        <option value="no" {% if not form_getattr(model, field) %} selected="selected" {% endif %}>
            {{ _("No") }}
        </option>
    </select>
{% endmacro %}
