{# display validation errors for a specified field #}
{% macro v_e(model, field) %}
    <div class="form-error-message">
    {% set errors = model.get_errors() %}
    {% if field in errors %}
        {% for msg in errors[field] %}
                {{ msg }};
        {% endfor %}
    {% endif %}
    </div>
{% endmacro %}

{% macro field_label(model, field) %}
    <label class="form-field-label" for="{{ field }}">{{ model.get_verbose_name(field) }}</label>
{% endmacro %}

{% macro input(model, field, type="text") %}
    <input type="{{ type }}" name="{{ field }}" id="{{ field }}" class="form-input-field"
    value= "{% if (type!="password") and (getattr(model, field) != None) -%}
                    {{ getattr(model, field) }}
            {%- else %}{% endif -%}"
            {% if caller is defined %} {{ caller() }} {% endif %}
    />
    {%- if not model.is_required(field) %} {{ _("(Optional)") }} {% endif -%}
{% endmacro %}

{% macro input_field(model, field, type="text") %}
    {{ field_label(model, field) }}:
    {% call input(model, field, type) %}
        {% if caller is defined %} {{ caller() }} {% endif %}
    {% endcall %}
    {{ v_e(model, field) }}
{% endmacro %}

{% macro textarea(model, field) %}
    <textarea name="{{ field }}" id="{{ field }}">{{ getattr(model, field) }}</textarea>
{% endmacro %}

{% macro textarea_field(model, field) %}
    {{ field_label(model, field) }}:
    {{ textarea(model, field) }}
    {{ v_e(model, field) }}
{% endmacro %}

{% macro submit(value="Submit") %}
    {% set value= _(value) %}
    <input type="submit" value="{{ value }}"/>
{% endmacro %}

{% macro boolean_combo(field) %}
    <select name="{{ field }}" id="{{ field }}">
        <option value="yes">{{ _("Yes") }}</option>
        <option value="no">{{ _("No") }}</option>
    </select>
{% endmacro %}
